<app-page-tour *ngIf="showTourFlag" [pageTourConfig]="tourData" [panelwidth]="450" [sideBarWidth]="0" [topPadding]="30">
</app-page-tour>

<div style="color:#d6c2c2;padding:10px;">
    <span id="elem1" class="tour-highlighter">What is Lorem Ipsum?</span>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not  <span id="elem2" class="tour-highlighter">only five centuries,</span> but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop <span id="elem3" class="tour-highlighter">publishing software like Aldus</span> PageMaker including versions of
    Lorem Ipsum.
</div>